.download_container {
    width: 50vw;
    height: 85vh;
    margin: 0 auto;
    padding: 2vw;
    background-color: #eae8df;
    border-radius: 1vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.links_container {
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;

    padding-bottom: 1vh;
}

/* Anpassung des Scrollbars für WebKit-Browser */
::-webkit-scrollbar {
    width: 12px; /* Breite des Scrollbars */
}

::-webkit-scrollbar-track {
    background: transparent; /* Transparenter Hintergrund */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Graue Farbe des Scroll-Handles */
    border-radius: 6px; /* Abgerundete Ecken */
}

/* Ändern der Farbe beim Hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Dunklere Graufarbe beim Darüberfahren */
    cursor: all-scroll;
}

/* Anpassung für Firefox */
* {
    scrollbar-width: thin; /* Schlanker Scrollbar */
    scrollbar-color: #888 transparent; /* Grauer Scrollbar auf transparentem Hintergrund */
}


.download_container > h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.downloads-list {
    list-style: none;
    padding: 0;
}

.download-link {
    display: block;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.download-link:hover {
    background-color: #e0e0e0;
}

.download-icon {
    float: left;
    margin-right: 10px;
    width: 20px; /* Adjust the width as needed */
    height: auto;
}
@media (max-width: 600px) {
    .download_container {
        width: 90vw;
        height: 65%;
    }
}