:root{
    --ts_basecolor: #969292;
    --ts_buttoncolor: #f6f5ee;
}
button{
    padding: 0;
    margin: 5px;
    border: 1px solid black;
    background-color: #f6f5ee;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
button:hover{
    cursor: pointer;
    background-color: #e1dfd5;
}
.leftText{
    text-align: left;
}

#vertContainer{
    display: flex;
    flex-direction: column;
}

#account-selector, #username, #password, button{
    width: 20vw;
    height: 5vh;
    padding: 1vw;
    margin: 2vw;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#TeamspaceContainer{
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    position: relative;
    padding: 2vw;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #eae8df;
}
#Diary-part{
    width: 100%;
}
#Control-part{
    width: 100%;
    display: flex;
    flex-direction: column;
}

h2{
    margin: 30px;
}


#loginResult{
    color: red;
}
/* Display */
#Teamspace-view{
    display: none;
}

.fade-in {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s linear 0.5s; /* Verzögert die Änderung der Sichtbarkeit bis zum Ende des Übergangs */
}

.fade-in.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s; /* Macht den Übergang sofort sichtbar */
}

td{
    margin: 0.4vw;
}

.deletebutton{
    width: 1vw;
    height: 1vw;
    min-height: 20px;
    min-width: 20px;
    padding: 0;
    margin: 5px;
    border: 1px solid black;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.deletebutton:hover{
    cursor: pointer;
    background-color: #c9c6be;
}
.TeamspacenextprePage{
    width: 1vw;
    height: 1vw;
    min-height: 20px;
    min-width: 20px;
    padding: 0;
    margin: 5px;
    border: 1px solid black;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}
.TeamspacenextprePage:hover{
    cursor: pointer;
    background-color: #c9c6be;
}

.input-modern {
    width: 20vw;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input.input-modern:focus {
    border-color: #ccc;
    box-shadow: 0 0 8px rgba(0,123,255,.2);
}
#button-input-modern{
    width: calc(40vw + 10px);
    height: 20vh;
}
#nextprePage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#Teamspace_Table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logoutButton{
    position: absolute;
    left: 0;
    top: 0;
    margin: 1vw;
    padding: 0;
    height: 2.5vw;
    width: 10vw;
    font-size: 1.2vw;

}
#controlButton{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 1vw;
    width: 10vw;
    height: 2.5vw;
    font-size: 1.2vw;
}
#editbutton{
    width: 3.5vw;
    height: 1.5vw;
    font-size: 1vw;
    padding: 0;
    margin: 0.4vw;
    border: 1px solid black;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
#editbutton:hover{
    cursor: pointer;
    background-color: #ccc;
}
#editEntryBeschreibung{
    width: calc(40vw + 10px);
    height: 20vh;
}
.Diarytable {
    font-size: 1.2vw;
    margin: 1vw;
    padding: 0;
    width: 100%;
    border-collapse: separate; /* Erlaubt die Nutzung von border-spacing */
    border-spacing: 0 0; /* 0 vertikale Abstand, 10px horizontaler Abstand zwischen Zellen */
}

.Diarytable td {
    border-right: 2px solid #666; /* Fügt eine rechte Grenze für jede Zelle hinzu */
    padding: 8px;
    background-color: transparent;
}
.Diarytable tr{
    background-clip: padding-box; /* Verhindert, dass Hintergrundfarben und Bilder in die Rahmen und den Abstand eindringen */
}
.Diarytable th{
    font-size: 1.4vw;
}
.Diarytable th:last-child, .Diarytable td:last-child {
    border-right: none;
}
/* Anpassung für die letzten beiden Spalten */
.Diarytable th:nth-last-child(-n+2), .Diarytable td:nth-last-child(-n+2){
    border-right: none; /* Entfernt die schwarze Linie */
}

/* Entfernt den Abstand zwischen den letzten beiden Spalten */
.Diarytable td:nth-last-child(-n+2) {
    column-gap: 0; /* Spacing between columns */
}

/* Stil für die Kopfzeile der Tabelle */
.Diarytable tr:nth-child(1) {
    font-size: 20px;
}
#welcomeText{
    margin-top: 7vh;
    font-size: 2vw;
}
#Teamspace-openaddentry{
    margin: auto;
    width: 20vw;
    height: 3vw;
    font-size: 1.2vw;
}
.Teamspace-Buttons{
    margin: auto;
    width: 20vw;
    height: 3vw;
    font-size: 1.2vw;
    text-align: center;
}
/* Control Part ---------------------------------------------------------------------------------------------*/
#Control-information{
    width: 100%;
}
#Teamspace-videoPlayer{
    height: 20vh;
    width: 20vw;
    margin: 2vw;
}
.Control-Button{
    height: 10%;
    width: 10%;
}
#Teamspace-CarInterface{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50% 50%;
}

.Teamspace-Car-Control {
    display: grid;
    grid-template-areas:
            'p1 up p2'
            'left up right'
            'left down right'
            'p3 down p4';
    column-gap: 4px;
    row-gap: 4px;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}
.Teamspace-Car-Control > div{;
    margin: 0;
}
.control-gridPH{
    height: 100%;
    width: 100%;
}
.control-gridSpecial{
    height: 100%;
    width: 100%;
    background-color: var(--ts_buttoncolor);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.control-gridColor {
    background-color: var(--ts_buttoncolor);
    text-align: center;
    padding: 0;
    font-size: 20px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.control-GridItem1 { grid-area: p1; }
.control-GridItem2 { grid-area: p2; }
.control-GridItem3 { grid-area: p3; }
.control-GridItem4 { grid-area: p4; }
.control-GridItem5 {
    grid-area: left;
    width: 100%;
}
.control-GridItem6 {
    grid-area: right;
    width: 100%;
}
.control-GridItem7 { grid-area: up; }
.control-GridItem8 { grid-area: down; }

/* Buttons on buttom */
.controlButtons{
    display: block;
    width: 50px;
    height: 1px;
    background-color: var(--buttoncolor);
    border-radius: 20px;
    bottom: 0;
    padding: 7px;
    margin: 5px;
    margin-top: 15px;
}
.controlButtons:hover{
    background-color: #333333;
}
.controlButtons.underlined{
    box-shadow: 0 13px 1px -6px var(--buttoncolor);
}
#control-buttonHolder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 0;
    padding: 0;
    margin: 0;
}
.Teamspace-Control-Settings{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1vh;
    width: 100%;
}
#Control-Car-VideoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
}
.Teamspace-Control-Text{
    width: 10vw;
}

/* Control Toggle Switch */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #a6a1a1;
}

input:focus + .slider {
    box-shadow: 0 0 1px #a6a1a1;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}