h1#quote {
    text-align: center; /* Centers the text */
    font-style: italic; /* Makes the font italic */
    padding: 20px 40px; /* Adds some padding for aesthetics */
}

h1#quote:before, h1.quote:after {
    content: open-quote; /* Uses the default quotation marks */
    font-size: 2em; /* Adjusts the size of the quotes */
    line-height: 0; /* Adjusts the line height to ensure alignment */
    vertical-align: -0.4em; /* Aligns the quote marks */
    color: #a6a1a1; /* Light color for the quotes */
}

h1#quote:after {
    content: close-quote;
}
#button {
    display: inline-block;
    padding: 20px;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border: none;
    width: 80px;
    height: 80px;
    right: 7vw;
    user-select: none; /* Disables text selection */
}

/* Shadow and Scale on Hover */
#button:hover {
    transform: scale(1.1); /* Slightly enlarges the button */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Adds depth with shadow */
}

/* Optional: Press-down Animation */
#button:active {
    transform: scale(0.9); /* Mimics a press-down effect */
}
#wave_CenterPixel{
    top: 20vh;
    margin: 175px auto;

}

/* Wave-------------------------------------------------------------------------------------------------------------- */
.wave {
    opacity: 0;
    top: 0;
    width: 1px;
    height: 1px;
    border: #FFF 7px solid;
    border-radius: 300px / 150px;
    animation-name: ripple;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes ripple {
    from {
        opacity: 1;
    }
    to {
        width: 600px;
        height: 300px;
        border-width: 1px;
        top: -100px;
        opacity: 0;
    }
}

.fade-in {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s linear 0.5s; /* Verzögert die Änderung der Sichtbarkeit bis zum Ende des Übergangs */
}

.fade-in.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s; /* Macht den Übergang sofort sichtbar */
}
#home_informationsContainer{
    display: none;
}