* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: #dcd9cd;
}
#mainContainer{
  display: grid;
  text-align: center;
  height: 90vh;
  grid-template-columns: 100vw 0;
  grid-template-rows: auto;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  place-items: center; /* Shortcut for centering both horizontally and vertically */
  margin: auto;
}
#informationsContainer{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
}
#menuContainer {
  position: relative;
}
#menuContainer  li {
  list-style: none;
  text-align: center;
}
#menuContainer  li a {
  color: #333;
  text-decoration: none;
  font-size: 3em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}
#menuContainer:hover li a {
  color: #0002;
  cursor: pointer;
}
#menuContainer  li:hover a {
  color: #000;
  background: transparent;
}
#menuContainer  li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: rgba(0, 0, 0, 0.1); /* opacity effect background */
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s, left 0.5s;
}
#menuContainer  li a:hover:before {
  content: attr(background-text);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 1800px;
  height: 1800px;
}#menuContainerSmall {
  position: relative;
}
#menuContainerSmall  li {
  list-style: none;
  text-align: center;
}
#menuContainerSmall  li a {
  color: #333;
  text-decoration: none;
  font-size: 3em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}
#menuContainerSmall:hover li a {
  color: #0002;
}
#menuContainerSmall li:hover a {
  color: #000;
  background: transparent;
}
#menuContainerSmall li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: rgba(0, 0, 0, 0.1); /* opacity effect background */
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s, left 0.5s;
}

#mainContainer{
  display: grid;
  text-align: center;
  height: 90vh;
  grid-template-columns: 100vw 0;
  grid-template-rows: auto;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  place-items: center; /* Shortcut for centering both horizontally and vertically */
  margin: auto;
}
/* Fade -------------------------------------------------------------------------------------------------------------*/
.fade-in {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s linear 0.5s; /* Verzögert die Änderung der Sichtbarkeit bis zum Ende des Übergangs */
}

.fade-in.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s; /* Macht den Übergang sofort sichtbar */
}
#centered-Text{
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  margin: 20px 0;
  padding: 10px;
  max-width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-left: auto;
  margin-right: auto;
}
/* Sponsor ----------------------------------------------------------------------------------------------------------*/
#sponsorImg{
  position: absolute;
  padding: 20px;
  bottom: 5px;
  width: 20%;
  left: calc(50% - (20%/2));
}
.animate-image {
  position: absolute;
  left: 100%;
  transition: left 1s ease-out;
}

/* Animation */
@keyframes slideToLeft {
  from {
    left: calc(50% - (20%/2));
  }
  to {
    left: 0;
  }
}

.animate-image.start-animation {
  animation: slideToLeft 1s ease;
}
/* Animation */
@keyframes slideToRight {
  from {
    left: 0;
  }
  to {
    left: calc(50% - (20%/2));
  }
}

.animate-image.start-animation-reverse {
  animation: slideToRight 1s ease;
}
#home-display{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#about-display{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}