.container {
    position: relative;
    width: 70vw;
    height: 80vh;
    margin: 100px;
    padding: 40px;
    overflow: hidden;
}
.scrollable-content {
    height: 100%;
    overflow-y: auto;
    padding: 20px;
}
.top-fade, .bottom-fade {
    position: absolute;
    left: 0;
    right: 0;
    height: 20px;
    pointer-events: none;
}
.top-fade {
    position: absolute;
    width: 68vw;
    top: 0;
    height: 20vh;
    background: linear-gradient(to bottom, #dcd9cd, transparent);
}
.bottom-fade {
    position: absolute;
    width: 68vw;
    bottom: 0;
    height: 20vh;
    background: linear-gradient(to top, #dcd9cd, transparent);
}
/* Scrollbar-Gesamtdesign für Webkit-Browser */
::-webkit-scrollbar {
    width: 15px; /* Breite der Scrollbar */
}

/* Scrollbar-Laufbahn (Track) */
::-webkit-scrollbar-track {
    background: transparent; /* Transparenter Hintergrund */
}

/* Scrollbar-Thumb (der bewegliche Teil der Scrollbar) */
::-webkit-scrollbar-thumb {
    background: #b8b8b8; /* Graue Farbe */
    border-radius: 10px; /* Abgerundete Ecken */
}

/* Hover-Effekt für den Scrollbar-Thumb */
::-webkit-scrollbar-thumb:hover {
    background: #909090; /* Dunklere Farbe beim Hover */
}
/* Header Styles */
.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}


/* General Text Styles */
.text {
    font-size: 16px;
    line-height: 1.6;
    color: #333; /* Dark grey for text for easier reading */
}

/* Code Section Styles */
.code-section {
    background-color: #f5f5f5; /* Light grey background */
    border: 1px solid #ddd; /* Light grey border */
    font-family: 'Courier New', monospace;
    padding: 10px;
    overflow-x: auto; /* Ensures code lines do not break */
    white-space: pre; /* Maintains spacing and line breaks */
}

/* Optional: Syntax Highlighting */
/* This is a simplistic approach. For comprehensive syntax highlighting, consider using a JavaScript library like Prism.js or Highlight.js */
.keyword {
    color: #007bff; /* Example color for keywords */
}
.comment {
    color: #6c757d; /* Example color for comments */
}
