.container {
    position: relative;
    width: 70vw;
    height: 80vh;
    margin: 100px;
    padding: 40px;
    overflow: hidden;
}
.scrollable-content {
    height: 100%;
    overflow-y: auto;
    padding: 20px;
}
.top-fade, .bottom-fade {
    position: absolute;
    left: 0;
    right: 0;
    height: 20px;
    pointer-events: none;
}
.top-fade {
    position: absolute;
    width: 68vw;
    top: 0;
    height: 20vh;
    background: linear-gradient(to bottom, #dcd9cd, transparent);
}
.bottom-fade {
    position: absolute;
    width: 68vw;
    bottom: 0;
    height: 20vh;
    background: linear-gradient(to top, #dcd9cd, transparent);
}
/* Scrollbar-Gesamtdesign für Webkit-Browser */
::-webkit-scrollbar {
    width: 15px; /* Breite der Scrollbar */
}

/* Scrollbar-Laufbahn (Track) */
::-webkit-scrollbar-track {
    background: transparent; /* Transparenter Hintergrund */
}

/* Scrollbar-Thumb (der bewegliche Teil der Scrollbar) */
::-webkit-scrollbar-thumb {
    background: #b8b8b8; /* Graue Farbe */
    border-radius: 10px; /* Abgerundete Ecken */
}

/* Hover-Effekt für den Scrollbar-Thumb */
::-webkit-scrollbar-thumb:hover {
    background: #909090; /* Dunklere Farbe beim Hover */
}