.team_main{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    margin: auto;
}
.team_container{
    display: grid;
    overflow: hidden;
    grid-template-rows: 5% 10% 10% 65% 5%;
    grid-row-gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center; /* Zentriert den Text horizontal */
    font-family: Arial, sans-serif; /* Setzt die Schriftart */
    font-size: 16px; /* Setzt die Schriftgröße */
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eae8df;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    height: 80%;
    width: 80%;
}
.team_container > *{
    margin: 1vh 1vw;
}
p.team_rolle {
    padding: 0;
    margin: 0;
    color: #808080;
    opacity: 0.7;
    font-family: Arial, sans-serif;
    background-color: transparent;
}
.team_name{
    padding-bottom: 0;
}
.team_image_container{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.team_image{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
@media (max-width: 600px) {
    .team_main{
        place-items: center;  /* Zentriert Inhalte sowohl horizontal als auch vertikal */
        bottom: 10vh;
        height: 80%;
        margin-top: 0;
    }
}