.centered-Text{
    text-align: center; /* Zentriert den Text horizontal */
    font-family: Arial, sans-serif; /* Setzt die Schriftart */
    font-size: 16px; /* Setzt die Schriftgröße */
    color: #333;
    line-height: 1.5;
    margin: 20px 0;
    padding: 10px;
    max-width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eae8df;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.main{
    display: grid;
    grid-template-columns: auto auto;
    right: 7vw;

}
.main > div{
    padding: 10px;
    margin: 20px;
    height: 30vh;
    width: 20vw;
}
p.rolle {
    color: #808080;
    opacity: 0.7;
    font-family: Arial, sans-serif;
    background-color: transparent;
}