.content {
    margin: auto;
    text-align: left;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
}
.impressum-h1{
    font-size: 2.8vw;
    min-font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
}
.impressum-h2{
    font-size: 2vw;
    min-font-size: 20px;
    margin: 0;
    margin-bottom: 0.5vw;
}
.impressum-block{
    margin: 1vw;
}
.impressum-block p{
    min-font-size: 15px;
    margin-left: 1.5vw;
    margin-top: auto;
    margin-bottom: auto;
}
@media(max-width: 1500px){
    .impressum-h1{
        font-size: 30px;
        margin-left: 13px;
    }
    .impressum-h2{
        font-size: 20px;
        margin-bottom: 8px;
    }
    .impressum-block{
        margin: 15px;
    }
    .impressum-block p{
        margin-left: 20px;
        font-size: 15px;
    }
}