.bauteile-product-scroll-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    overflow: hidden;
    scroll-behavior: smooth;
}
.bauteile-product-card {
    position: relative;
    margin: 10px;
    width: 100%;
    background-color: #e1dfd5;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.5s ease;
}
.bauteile-product-card img {
    width: 100%;
    height: 100%;
    display: block;
    padding: 3vw;
    transition: opacity 1s ease;
}
.bauteile-product-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e1dfd5;
    color: #000000;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.bauteile-product-card:hover .bauteile-product-info {
    opacity: 0.7;
    cursor:pointer
}
.bauteile-product-card:hover img {
    opacity: 0.3;
}
.bauteile-price {
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0.5vw 0;
}
.bauteile-description {
    margin-bottom: 1vh;
    text-align: center;
    font-size: 1vw;
}
.bauteile-bauteile a {
    text-decoration: none;
    background-color: #e1dfd5;
    color: white;
    padding: 1vh 2vw;
    font-size: 1vw;
    border-radius: 5px;
}
.bauteile-product-link{
    font-size: 1.5vw;
}
.bauteile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.bauteile-buttons{
    width: 5%;
    height: auto;
    font-size: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.bauteile-product-header{
    font-size: 2vw;
    margin: 1vw;
}
#bauteile-prevBtn{
    margin: 2vw;
}
#bauteile-nextBtn{
    margin: 2vw;
}
.bauteile-buttons:hover{
    background-color: transparent;
    animation: textShadowAnimation 400ms forwards;
}
@keyframes textShadowAnimation {
    0% {
        text-shadow: none;
    }
    100% {
        text-shadow: 0px 1px 0px #b2a98f,
        0px 7px 10px rgba(0,0,0,0.15),
        0px 12px 2px rgba(0,0,0,0.1),
        0px 17px 30px rgba(0,0,0,0.1);
    }
}